/* CSS declarations go here */
.light-border {
    border: 1px solid gray;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-dropdown-list {
    list-style-type: none;
}
